<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{backoffice/layout :: layout(#{admin.backoffice.title}, ~{::headerActions}, ~{::content})}">
    <th:block th:fragment="headerActions"></th:block>

    <th:block th:fragment="content">
        <section class="p-6 lg:p-8">
            <article class="bg-white border border-[#e6dad1] rounded-xl p-6 max-w-2xl">
                <h3 class="font-bold text-lg" th:text="#{admin.backoffice.title}">Admin Backoffice</h3>
                <p class="text-[#956d50] mt-2" th:text="#{admin.backoffice.baseUi}">Base UI servida desde admin-module.</p>
            </article>
        </section>
    </th:block>
</th:block>
</html>
